body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #9709b4, #085078);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 450px;
    text-align: center;
    margin-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #9709b4, #085078);
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.main-content {
    margin-top: 80px;
}

.section {
    margin-bottom: 30px;
}

.section-title {
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
    color: #f0e6ff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.box {
    height: 120px;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.navbar {
    background: linear-gradient(135deg, #9709b4, #085078);
    padding: 18px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
.nav-item a {
    text-decoration: none;
    color: inherit;
}

.nav-item a:hover {
    text-decoration: none;
    color: #007FFF;
}



@media only screen and (max-width: 430px) {
    .container {
        width: 95%; /* Slightly larger for better fit */

        margin-bottom: 90px;
    }

    .header {
        padding: 12px 15px; /* Adjust padding for smaller screens */
    }

    .logo {
        font-size: 20px; /* Slightly smaller logo font size */
    }

    .navbar {
        padding: 15px 0; /* Adjust padding */
    }

    .nav-item {
        font-size: 13px; /* Adjust text size */
    }
}

